body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #0e0d0d, #48484d, #0e0d0d);
    background-size: 350% 300%;
    animation: color 3s ease-in-out infinite;
    justify-content: center;
  }
  *{
    padding: 0;
    margin: 0;
  }
  @keyframes color{
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }
  .container{
    display: flex;
  }
  .about{
    color: #fff;
    margin-top: 5pc;
    font-family: "Noto Serif",serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: 20px;
    margin-left: 15px;
  
  }
  .bus-name{
    padding-top: 2pc;
  }
  .img{
    margin-top: -4pc;
  }
  nav{
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 35px;
    color: azure;
    cursor: pointer;
    padding-top: 20px;
  }
  nav div:hover{
    color: #1ebe41;
  }
  .name{
    font-size: xx-large;
    margin-top: 20px;
    text-align: center;
    color: azure;
  }
  .box{
    color: #faad1f;
    padding-top: 1pc;
    padding-left: 5pc;
    padding-right: 5pc;
    margin-top: 2pc;
    margin-right: 70px;
    width: 400px;
    height: 385px;
    text-align: center;  
    background-color: #434347;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px #1ebe41;
  }
  .input-group{
    position: relative;
    margin: 30px 0;
  }
  .input-group label{
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    font-size: 20px;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
  }
  .input-group input{
    width: 200px;
    height: 30px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    padding: 0 18px;
    background: transparent;
    border: 1.2px solid #fff;
    outline: none;
    border-radius: 10px;
  }
  .input-group input:focus~label,
  .input-group input:valid~label{
    top: 0;
    font-size: 15px;
    background:#434347;
  }
  .button {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #46ee6a;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-size: 15px;
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .button::before {
    content: "";
    background: linear-gradient(45deg,
        #FF0000, #FF7300, #FFFB00, #48FF00,
        #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .button:hover::before {
    opacity: 1;
  }
  
  .button:active:after {
    background: transparent;
  }
  
  .button:active {
    color: #000;
    font-weight: bold;
  }
  
  
  @media(width<650px){
    nav{
      font-size: 25px;
    }
    .name{
      font-size: 30px;
      margin-top: 4pc;
    }
    .box{
      margin-left: 4pc;
      height: auto;
      font-size: x-small;
      margin-top: 3pc;
    }
    .input-group label{
      font-size: 1pc;
  
    }  
    .about{
      display: none;
    }
  }
  @media(width<1150px) {
      .bus-name{
        display: none;
      }    
  }